table {
	border-spacing: 5px;
	border: 2px #852c85 solid;
	height: 400px;
	text-align: center; 
	background: #F5F5DC;
	border-radius: 2%;
}

td {
	height: 10px;
	width: 55px;
	border: 1px #808080 solid;
	border-radius: 4px;
	padding: inherit;
}

button {
	background: #48D1CC;
	width: 100%;
	height: 100%;
	text-justify: auto;
	box-shadow: 2px 9px 22px 8px rgba(11, 13, 15, 0.2);
}

button:hover {
	background-color: #E9967A;
}

.higher {
	height: 40px;
	background: #AFEEEE;
	font-size: 25px;
	overflow-y: scroll;
	max-width: 300px;
	word-wrap: break-word;
}
